

body {
  margin: 0;
  padding: 0;
  font-weight: 900;
    /* font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
   */
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(82, 80, 80);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.to-do-list{
  flex: 1;
  text-align: center;
  margin-top: 20px;
   border-radius: 33px;
  border-radius: 27px;
  margin-left: 100px;
  margin-right: 100px;
background: linear-gradient(145deg,  rgb(82, 80, 80), black);
box-shadow:  13px 13px 20px black,
             -13px -13px 20px grey ;
             
 
}


.Section{
  /* height: 100vh; */
  /* width:100%; */
  /* position:absolute; */
  justify-content: center;
  bottom: 0;


}

h3{
   max-width: 1000px;
   padding-top: 10px;
   margin: 2px auto;
   font-size: clamp(.5rem, 5vw, 2rem);
   text-align: center;
   line-height: 1;
   flex-grow: 1;
 

   
}

.Daily-Reminder{
  position: relative;
  height: 1em;
  overflow: hidden;
  font-size: calc(20px + 1px);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  
 


  
}
@keyframes auto-scroll{
  0%{
      transform: translateY(0);
  }
  5%{
      transform: translateY(0);
  }
  10%{
      transform: translateY(-1em); 
  }
  30%{
      transform: translateY(-1em);
  }
  35%{
      transform: translateY(-2em);
  }
  55%{
      transform: translateY(-2em);
  }
  60%{
      transform: translateY(-3em);
  }
  80%{
      transform: translateY(-3em);
  }
  85%{
      transform: translateY(-4em);
  }
  100%{
      transform: translateY(-4em); 
  }
}

.Daily-Reminder span{
  color: #F5B700;
  -webkit-animation-fill-color: transparent;
  animation: auto-scroll 15s infinite;
  flex-grow: 1;
}


.text-space{
  padding: 20px;
  align-items: baseline
}
h1{
  /* color: rgb(9, 122, 9); */
  color: rgb(209, 207, 207) ;
  color: #d6a100;
  font-size: 2rem;
  text-decoration: underline ;
  margin-bottom: 50px;

  
}

input{
  width: 500px;
  background-color: rgb(223, 213, 213);
  border-radius: 20px;
  border: none;
}
input[type = "text"]{
  font-size: 1.2rem;
  /* border: 1px solid rgb(56, 55, 55); */
  border-radius: 20px;
  padding: 8px 16px;
  align-items: baseline;
  flex: 1;
  
 
}
::placeholder{
  font-size: 15px;
  font-weight: 600;
  padding-left: 5px;
}
button{
  font-size: 1rem;
  /* padding: 7px; */
  color: black;
  cursor: pointer;
  height: 40px;
  border: none;
 border-radius: 5px;
-moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  
}

button.add-btn{
  /* background-color: rgb(3, 165, 3); */
  background-color: #F5B700;
  font-size: 18px;
  border-radius: 20px;
  margin-left: 3px;
  width: 70px;
  align-items: baseline;


  
}

.add-btn:active{
  background-color:#06bb52 ;
}

.delete-btn{
  background-color: #A20021;
  border-radius: 18px;
  font-size: 13px;
  height: 30px;
  width: 60px;
  padding: 2px;
  font-weight: 400;
  color: white;
  

}


.delete-btn:hover{
  background-color: rgb(185, 16, 16);
}


.edit-btn{
  background-color: #F5B700;
  /* margin-right: 2px; */
  /* margin-top: 2px; */
  border-radius: 20px;
  font-size: 13px;
  color: black;
   height: 30px;
  width: 60px;
  font-weight: 400;
  
}

.edit-btn:hover{
 opacity: 0.8;
}



ol{
  padding: 0;
}

li{
  font-size: 1.1rem;
  font-weight: 400px ;
  background-color: rgb(223, 213, 213);
  margin-bottom: 6px;
  border: 1px solid rgb(163, 163, 163);
  border-radius: 5px;
  display: flex;
  align-items: center;
  margin-left: 50px;
  margin-right: 50px;
  border-radius: 20px;
  padding-left: 13px;

}

.text{
  flex: 1;

}


.delete-btn, .edit-btn{
  padding: 8px 12px;
 margin-left: 5px;

}

@media  (width < 990px ){
  .to-do-list{
    margin-left: 100px;
    margin-right: 100px;
  }
}

@media  (width < 830px ){
  .to-do-list{
    margin-left: 50px;
    margin-right: 50px;

  }

  .text-space{
    /* border: 2px solid red; */
    padding: 10px;
    
  }

  input{
    width: 420px;
  }
  
  button{
    width: 100px;
    height: 40px;
  }
}

@media  (width < 820px ){
  .to-do-list{
    margin-left: 80px;
    margin-right: 80px;
  }
  h1{
    font-size: 25px;
  }

  .text-space{
    /* border: 2px solid red; */
    padding: 10px;
    
  }

  /* ::placeholder{
   
  } */
  input{
    width: 400px;
  }
}
@media  (width < 720px ){
  .to-do-list{
    margin-left: 60px;
    margin-right: 60px;

  }

  .text-space{
    /* border: 2px solid red; */
    padding: 2px;
    
  }

  input{
    width: 320px;
  }
  
  button .add-btn{
    font-size: 20px;
  }
  button{
    width: 75px;
    height: 40px;
  }
}


@media  (width < 600px ){
  .to-do-list{
    margin-left: 80px;
    margin-right: 80px;
  }
  h1{
    font-size: 25px;
  }

  .text-space{
    /* border: 2px solid red; */
    padding: 5px;
    
  }

  /* ::placeholder{
   
  } */
  input{
    width: 250px;
  }

  .delete-btn{
    background-color: #A20021;
    border-radius: 18px;
    font-size: 10px;
    height: 20px;
    width: 45px;
    padding: 2px;
    font-weight: 300;
    color: white;
    
  
  }
  
  
  .delete-btn:hover{
    background-color: rgb(185, 16, 16);
  }
  
  
  .edit-btn{
    background-color: #F5B700;
    /* margin-right: 2px; */
    /* margin-top: 2px; */
    border-radius: 20px;
    font-size: 10px;
    color: black;
     height: 20px;
    width: 45px;
    font-weight: 300;
    
  }
  
  .edit-btn:hover{
   opacity: 0.8;
  }
  
  
  
  ol{
    padding: 0;
  }
  
  li{
    font-size: 10px;
    font-weight: 400px ;
    background-color: rgb(223, 213, 213);
    margin-bottom: 6px;
    border: 1px solid rgb(163, 163, 163);
    border-radius: 5px;
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 20px;
    padding-left: 13px;
  
  }
}


@media  (width < 540px ){
  .to-do-list{
    margin-left: 50px;
    margin-right: 50px;
  }
  h1{
    font-size: 25px;
  }

  .text-space{
    /* border: 2px solid red; */
    padding: 10px;
    
  }

  ::placeholder{
   font-size: 18px;
  }

 
}

@media  (width < 480px ){
  .to-do-list{
    margin-left: 25px;
    margin-right: 25px;
  }
  h1{
    font-size: 25px;
  }

  .text-space{
    /* border: 2px solid red; */
    padding: 2px;
    margin-bottom: 30px;
    
  }

  ::placeholder{
   font-size: 15px;
  }
  button.add-btn{
    font-size: 15px;
  }

  button{
   height: 35px;
   width: 60px;
  }

  input{
    width: 250px;
    height: 20px;
  }

  .delete-btn{
    background-color: #A20021;
    border-radius: 18px;
    font-size: 10px;
    height: 20px;
    width: 45px;
    padding: 2px;
    font-weight: 300;
    color: white;
    
  
  }
  
  
  .delete-btn:hover{
    background-color: rgb(185, 16, 16);
  }
  
  
  .edit-btn{
    background-color: #F5B700;
    /* margin-right: 2px; */
    /* margin-top: 2px; */
    border-radius: 20px;
    font-size: 10px;
    color: black;
     height: 20px;
    width: 40px;
    padding: 2px;
    font-weight: 300;
    
  }
  
  .edit-btn:hover{
   opacity: 0.8;
  }
  
  
  
  ol{
    padding: 0;
  }
  
  li{
    font-size: 10px;
    font-weight: 400px ;
    background-color: rgb(223, 213, 213);
    margin-bottom: 6px;
    border: 1px solid rgb(163, 163, 163);
    border-radius: 5px;
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 20px;
    padding-left: 13px;
  
  }
  }

  @media  (width < 420px ){
    .to-do-list{
      margin-left: 25px;
      margin-right: 25px;
    }
    h1{
      font-size: 20px;
    }
  
    .text-space{
      /* border: 2px solid red; */
      padding: 2px;
      margin-bottom: 30px;
      
    }
  
    ::placeholder{
     font-size: 15px;
    }

  
    button.add-btn{
      font-size: 15px;
      width: 50px;
      height: 30px;
    }
  
    input{
      width: 200px;

    }

    .delete-btn{
      background-color: #A20021;
      border-radius: 18px;
      font-size: 9px;
      height: 20px;
      width: 40px;
      padding: 2px;
      font-weight: 300;
      color: white;
      
    
    }
    
    
    .delete-btn:hover{
      background-color: rgb(185, 16, 16);
    }
    
    
    .edit-btn{
      background-color: #F5B700;
      /* margin-right: 2px; */
      /* margin-top: 2px; */
      border-radius: 20px;
      font-size: 9px;
      color: black;
       height: 20px;
      width: 45px;
      font-weight: 300;
      
    }
    
    .edit-btn:hover{
     opacity: 0.8;
    }
    
    
    
    ol{
      padding: 0;
    }
    
    li{
      font-size: 10px;
      font-weight: 400px ;
      background-color: rgb(223, 213, 213);
      margin-bottom: 6px;
      border: 1px solid rgb(163, 163, 163);
      border-radius: 5px;
      display: flex;
      align-items: center;
      margin-left: 15px;
      margin-right: 15px;
      border-radius: 20px;
      padding-left: 13px;
    
    }
    }

    @media  (width < 390px ){
      .to-do-list{
        margin-left: 20px;
        margin-right: 20px;
      }
      h1{
        font-size: 20px;
      }
    
      .text-space{
        /* border: 2px solid red; */
        padding: 5px;
        margin-bottom: 30px;
        
      }
    
      ::placeholder{
       font-size: 12px;
      }

      button{
        height: 30px;
      }
      button.add-btn{
        font-size: 12px;
      }
    
      input{
        width: 200px;
        height: 12px;
      }

      .delete-btn{
        background-color: #A20021;
        border-radius: 18px;
        font-size: 10px;
        height: 20px;
        width: 45px;
        padding: 2px;
        font-weight: 300;
        color: white;
        
      
      }
      
      
      .delete-btn:hover{
        background-color: rgb(185, 16, 16);
      }
      
      
      .edit-btn{
        background-color: #F5B700;
        /* margin-right: 2px; */
        /* margin-top: 2px; */
        border-radius: 20px;
        font-size: 10px;
        color: black;
         height: 20px;
        width: 45px;
        font-weight: 300;
        
      }
      
      .edit-btn:hover{
       opacity: 0.8;
      }
      
      
      
      ol{
        padding: 0;
      }
      
      li{
        font-size: 10px;
        font-weight: 400px ;
        background-color: rgb(223, 213, 213);
        margin-bottom: 6px;
        border: 1px solid rgb(163, 163, 163);
        border-radius: 5px;
        display: flex;
        align-items: center;
        margin-left: 20px;
        margin-right: 20px;
        border-radius: 20px;
        padding-left: 13px;
      
      }
      }
  
  
     


